
	* {
		margin:0;
		padding:0;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-font-smoothing:antialiased;
		-moz-font-smoothing:antialiased;
		-o-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}
	
	::selection {background:#abcdef;color:#341212;}  /**文本被选中后的背景颜色和前景颜色*/
	
	body {
		/**background:#99cbbb;*/
		/* background: #e4ebe9  url(../img/article.png) repeat top left ; */
	}
	
	
	
	
	.title {
		text-align: center;
		line-height: 20px;
		margin:20px auto;
		/* background: #bbedcd; */
		border-radius: 8px;
		padding: 10px 10px 10px 10px;
		opacity:0.9;
		width:900px;
		font:400 26px/30px "Open Sans", Helvetica, Arial, sans-serif; 
	}
	.content {
		width:900px;
		margin:20px auto;
		/* border: 1px solid; */
		overflow: auto;	 
		clear: both;
		color:black;
		letter-spacing:1.0px;
		line-height: 22px; 
		/* background: #ededed; */
		border-radius: 8px;
		padding: 15px 15px;
		opacity:1.0;
		font:200 22px/26px "Open Sans", Helvetica, Arial, sans-serif; 
	}
	
	
	