	/*常用的清除CSS默认样式代码*/
	body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, fieldset, 
	lengend, button, input, textarea, th, td
	{ 
		margin: 0;
		padding: 0;
	}
	
	body{
		/**background:#99cbbb; -**/
		background: #e4ebe9 url(../img/1.png) repeat top left;
	}
	
	#list{
		width: 800px;
		margin: 50px auto;
		opacity:0.9;
		background: #abcdef;
		border-radius: 8px;
		padding: 20px 20px;
	}
	
	
	#list li {
		list-style:square;
		margin: 6px 10px; 
	}
	#list a {
		text-decoration: none;
		display: block;/*a标签转块级元素*/
		padding: 6px 0px;
	}
	#list a:hover {
		 color: #222222;
		 border-bottom:solid 1px #000000;
	}
	
	
	
	
	
	
	
	