	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-font-smoothing:antialiased;
		-moz-font-smoothing:antialiased;
		-o-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	 } 
	
	::selection {background:#abcdef;color:#341212;}  /**文本被选中后的背景颜色和前景颜色*/
	
	body {
		background:#e4ebe9; 
		/* background: #e4ebe9  url(../img/7.png) repeat top left ;  */
	}
	
	
	.list{
		clear: left;
		width:1000px;
		margin:20px auto;
		background: #abcdcd;
	}
	
	.name{
		text-align: center;
		line-height: 20px;
		margin:5px 5px;
		background: #E5E5E5;
		/* border: 1px solid; */
		color:black;
		padding: 5px 15px;
		opacity:1.0;
		border-radius: 10px 15px;
		float:left;
	}
	.tag{
		text-align: center;
		line-height: 20px;
		margin:5px 5px;
		/* background: #abcdcd; */
		padding: 3px 3px ;
		opacity:0.9;
		border-radius: 10px 15px;
		float:left;
	}
	
	.imglist{
		clear: left;
		margin:10px auto;
		background: #abcdcd;
		width:1000px;
	}
	
	.img {
		margin:4px 4px;
		 /* border: 1px solid;  */
		padding: 6px 6px;
		opacity:0.9;
		float:left;
		display: inline-block;
	}
	
	