	
	* { 
		margin: 0;
		padding: 0;
	}
	
	#header {
		background-color: #cfcfef;
		width:900px;
		height: 40px;
		margin: 5px auto;
		opacity:0.9;
		border-color: black;
		border-radius: 6px;
	}
	
	#footer {
		/* background-color: #abcdcd;
		width:900px;
		margin: auto auto;
		opacity:0.9;
		border-radius: 8px;
		text-align: center;
		font-size: 14px;
		height: 22px;
		padding-top: 2px; */
	}
	
	#daohang{
		float:left;
		position: relative;
		left: 30px; 
	}
	
	#daohang li {
		list-style:none;
		float:left;
		width:70px;
		text-align:center;
		color:#FFF;
		padding:6px 8px;
	}
	#daohang a {
		text-decoration: none;
		font-weight:700;
		text-shadow: 0px 1px 1px #e4ebe9;
		color: #000;
		display: block;/*a标签转块级元素*/
		padding: 5px 0px;
		font-size: 18px;
		/* border-right:solid 1px #000000; */  /*右边的边框 ---这个用来显示标签之间的分隔竖线*/
	}
	#daohang a:hover {
		 border-bottom:solid 2px #000000;
	}
	
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 18px;
	}
	