	/*常用的清除CSS默认样式代码*/
	body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, fieldset, 
	lengend, button, input, textarea, th, td span a
	{ 
		margin: 0;
		padding: 0;
	}
	
	body{
		background: #e4ebe9 url(../img/7.png) repeat top left;
	}
	
	
	.weibo{
		width: 850px;
		margin: 20px auto;
		/* background: #ffffff; */ 
		border-radius: 4px;
		padding: 12px 12px;
		color: black;
		/* font-size: 22px; */
	}
	
	
	#monthlist{
		width: 850px;
		margin: 20px auto;
		padding: 12px 12px;
	}
	
	.month {
		background: #abcdab; 
		width:80px;
		margin: 0 6px;
		padding: 10px 10px;
		border-radius: 4px;
	}
	
	.month a{
		color:#000;
		text-decoration: none;
	}
	
	
	
	.weibo img{
		margin: 5px 5px; 
		transition: 1s; 
		width:25px;
		height:25px; 
	}
	
	.weibo img:hover{
		width:700px;
		height:400px; 
	}
	
	