	/*常用的清除CSS默认样式代码*/
	body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, pre, fieldset, 
	lengend, button, input, textarea, th, td span a
	{ 
		margin: 0;
		padding: 0;
	}
	
	body{
		/* background: #e4ebe9 ; */
 		background: #e4ebe9  url('../img/article2.png') repeat top left;  
	}
	
	
	.weibo{
		width: 850px;
		margin: 20px auto;
		background: #dddddd; 
		border-radius: 4px;
		padding: 12px 12px;
		color: black;
		line-height: 24px; 
		/* font-size: 22px; */
		/* font:180 20px/24px "Open Sans", Helvetica, Arial, sans-serif;  */
	}
	
	
	#monthlist{
		width: 850px;
		margin: 20px auto;
		padding: 12px 12px;
	}
	
	.month {
		background: #abcdab; 
		width:80px;
		margin: 0 20px;
		padding: 10px 10px;
		border-radius: 4px;
	}
	
	.month a{
		color:#000;
		text-decoration: none;
	}
	
	
	/**播放按钮的样式*/
		
	.videoBtn{
		display: inline-block;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
		border-bottom: 1px solid rgba(0,0,0,0.25);
		position: relative;
		cursor: pointer;
		font-size: 14px;
		padding: 8px 14px 9px;
		background-color: #2daebf;
	}
	
	.videoBtn:hover {
		background-color: #007d9a;
	}
	
	
	
	
	
	/**图片渐进显示*/
	
	.sqlimg{
		margin: 5px 5px; 
		transition: 1s; 
		width:25px;
		height:25px; 
	}
	
	.sqlimg:hover{
		width:700px;
		height:400px; 
	}
	
	.menuimg{
		margin: 5px 5px; 
		transition: 1s 1s width, 1s height; 
		width:25px;
		height:25px; 
	}
	
	.menuimg:hover{
		width:465px;
		height:113px; 
	}
	
	.phone{
		margin: 1px 25px; 
		transition: 1s; 
		width:36px;
		height:60px; 
	}
	
	.phone:hover{
		width:240px;
		height:400px; 
	}
	
	
	.jiayuanimg{
		margin: 5px 5px; 
		transition: 1s width, 1s height; 
		width:25px;
		height:25px; 
	}
	
	.jiayuanimg:hover{
		width:816px;
		height:617px; 
	}
	
	
	
	
	
	
	